# Commands to run in interactive sessions can go here
if status is-interactive
	set -g fish_key_bindings fish_vi_key_bindings
	set -gx EDITOR nvim

	source "$HOME/.cargo/env.fish"
	fnm env --shell fish | source
	zoxide init fish | source
	atuin init fish | source

	{{ if eq .chezmoi.os "darwin" -}}
	if test -d (brew --prefix)"/share/fish/completions"
		set -p fish_complete_path (brew --prefix)/share/fish/completions
	end

	if test -d (brew --prefix)"/share/fish/vendor_completions.d"
		set -p fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
	end
	{{ end -}}
end
